/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Boxes */
div {
  border: 1px solid red;
  color: green;
  background-color: pink;
}

.d-inline-block {
  display: inline-block;
  width: 50%;
}

#somethingSpecific {
  font-size: 50px;
}

#div2 {
  height: 250px;
}

#div2 > p {
  color: orange;
}

.d-inline-block,
#div2 {
}
